
section.slider{
    padding-left: 95px;
    padding-top: 5px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.slider_content{
    width: 377%;
    height: auto;
    display: flex;
    overflow: hidden
}
.slider_content input{
    display: none;
}
.slide_box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center ;
    transition: 1s;
}
.slide_box img{
    width: 100%;
}
.nav_manual, .nav_auto{
    position: absolute;
    width: 100%;
    margin-top: 65%;
    margin-left: -95px;
    display: flex;
    justify-content: center;
}
.nav_manual .manual_btn, .nav_auto div{
    border: 1px solid #D62300;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.nav_manual .manual_btn:not(:last-child), .nav_auto div:not(:last-child) {
    margin-right: 10px;
}
.nav_manual .manual_btn:hover{
    background-color: #D62300;
}
#radio1:checked ~ .nav_auto .auto_btn1{
    background-color: #D62300;
}
#radio2:checked ~ .nav_auto .auto_btn2{
    background-color: #D62300;
}
#radio3:checked ~ .nav_auto .auto_btn3{
    background-color: #D62300;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}